# === Symfony ===
.env.local
.env.*.local
/config/secrets/dev/
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

# === IDE ===
.idea/
.vscode/

# === OS ===
.DS_Store
Thumbs.db
###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
